body {
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  overflow: auto;
}

h4 {
  margin: auto;
}

h3 {
  margin: auto;
  text-align: left;
}

#formfk{
  font-weight: bold;
}

.left {
  position: fixed;
  top: 10px;
  border-radius: 15px;
  left: 10px;
  width: 450px;
  height: 546px;
  background-color:rgba(255,255,255,0.8);
  padding: 15px;
}

.right {
  position: fixed;
  top: 10px;
  height: 576px;
  left: 500px;
  width: 280px;
}

div.tab {
  height: 38px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

div.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 2px;
  transition: 0.3s;
}

div.tab button:hover {
  background-color: #ddd;
}

div.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 538px;
  display: none;
  background-color:rgba(255,255,255,0.8);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  overflow: auto;
}

.currency {
  font-size: 25px;
}

#tabtitle {
  position: relative;
  top: 8px;
  margin: 10px;
  font-weight: bold;
  color: #555;
}

#clickspace, #sound, .R-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#clickspace {
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
  height: 100px;
  background-color: #fdfdfd;
  border-radius: 10px;
  font-size: 60px;
  text-align: center;
  line-height: 98px;
  color: rgb(230,230,230);
  cursor: pointer;
}

#sound {
  position: relative;
  left:440px;
  bottom: 85px;
  font-size: 18px;
  color: #808080;
  width: 25px;
  cursor: pointer;
}

#clickspace:hover {
  color: #aaa;
}

#chancetable {display: table;}
.row {display: table-row;}
.cell {display: table-cell;width: 250px;}

.R-des{
  margin: 0;
  text-align:center;
  line-height: 1.5em;
  font-size:15px;
}

.recycle-container{
  height:10px;
  width:95%;
  margin: auto;
  border-radius:4px;
  background-color:rgb(235,235,235);
}

.recycle-bar{
  border-radius:4px;
  height:100%;
  width:0;
  background-color:#11a216;
}

.autorec{
  opacity: 0.5;
  display:none;
  width: 30px;
  position: relative;
  top:18px;
}

.R-item{
  /*isplay:inline-block;*/
  display:none;
  border-radius:8px;
  height:auto;
  width:200px;
  background-color: rgb(70,70,70);
  cursor: pointer;
  padding-bottom: 3px;
  margin:5px 0px;
  color: rgb(235,235,235);
}

.R-item:hover {
  background-color:rgb(200,225,190);
  color: rgb(70,70,70);
}

#recyclea, #recycleb, #recyclec{
  background-color: black;
  color: #0f0;
}

#recyclea:hover, #recycleb:hover, #recyclec:hover{
  color: #f00;
}


#Recycle{
  text-align: center;
}

.C-item, .T-item{
  background-color:rgb(80,190,85);
  color: white;
  border-radius:0 20px 20px 0;
  padding-left: 3px;
  margin:15px 5px;
  height:auto;
  width:auto;
}

.C-item{
  background-color:rgb(80,190,85);
}

.T-item{
  background-color:rgb(80,150,190);
  cursor: pointer;
}

.qa{
  padding: 5px 5px;
}

#recycle1{
  display: inline-block;
}